*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    background-color: #E9EBEE;
}

.view {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right bottom, rgba(9, 122, 255, .8), rgba(105, 193, 255, .8)), url('/static/img/fondo.jpg');
    background-size: cover;
    background-position: top;
}

.form {
    position: fixed;
    height: 100%;
    width: 40%;
    background-color: #fff;
    clip-path: polygon(8% 0, 100% 0, 92% 100%, 0 100%);
    transition: all 1.2s;
}

.title {
    font-size: 5rem;
    font-weight: bold;
}

.logIn {
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUp {
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub {
    border: none;
    display: block;
    width: 100%;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: #1d2b69;
    color: white;
    font-weight: bold;
    padding: 1.5rem 2rem;
    text-align: center;
}

.form__transition {
    transition: all 1.2s;
    margin-left: 60%;
    clip-path: polygon(0 0, 92% 0, 100% 100%, 8% 100%);
}

.toggle {
    border: none;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    color: #097AFF;
}

.toggle:hover {
    color: #1d2b69;
}

.form__group:not(:last-child) {
    margin-bottom: 1.2rem;
}

.form__group--small:not(:last-child) {
    margin-bottom: .5rem;
}

.form__input {
    font-size: 1.4rem;
    font-family: inherit;
    color: inherit;
    padding: 1rem 1.8rem;
    border-radius: 2px;
    background-color: rbga(#fff, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s;
    background-color: whitesmoke;
    box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.2);
}

.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #fad0c4;
}

.form__input:focus:invalid {
    border-bottom: 3px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
    color: #999;
}

.form__label {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
}

.form__input:placeholder-shown+.form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}

.marginB20 {
    margin-bottom: 2rem;
}

.marginT20 {
    margin-top: 2rem;
}

.fadeOut {
    transform: translate(-50%, -50%) translateX(-100rem);
    transition: all 1.2s;
}

.fadeOut2 {
    transform: translate(-50%, -50%) translateX(100rem);
    transition: all 1.2s;
}

.fadeIn {
    transform: translate(-50%, -50%) translateX(0rem);
    transition: all 1.2s;
}

.fadeIn2 {
    transform: translate(-50%, -50%) translateX(0rem);
    transition: all 1.2s;
}

.btnAnimation,
.btnAnimation:link,
.btnAnimation:visited {
    -moz-transition: all .1s;
    -webkit-transition: all .1s;
    transition: all .1s;
    cursor: pointer;
}

.btnAnimation:hover {
    -moz-transform: translateX(-3px);
    -webkit-transform: translateX(-3px);
    transform: translateY(-3px);
    box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.2);
}

.btnAnimation:hover::after {
    -moz-transform: scaleX(1.4) scaleY(1.6);
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btnAnimation:active {
    -moz-transform: translateX(-1px);
    -webkit-transform: translateX(-1px);
    transform: translateY(-1px);
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
}

.Barra {
    position: fixed;
    background-color: #fff;
    height: 5rem;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    transition: all .2s;
    display: flex;
}

.Barra:hover {
    border-bottom: 1px solid #097AFF;
}

.Home {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.Home>img {
    height: 35px;
    width: 35px;
    margin-left: .8rem;
    transition: all 25s;

}
.Home>img:hover{
    transform: rotate(3333deg);
}

.Home>h1 {
    margin-left: .8rem;
}

.Barraderecha {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Cerrar {
    height: 100%;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
    color: red;
    text-align: center;
    padding: 1.3rem;
}

.Cerrar:hover{
    color: darkred;
}

.Derecha {
    position: fixed;
    right: 0;
    width: 40vw;
    height: 100vh;
    padding-top: 5rem;
    z-index: -999;
    display: flex;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.Derechita {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 2rem;
    height: 40%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.Derechita:hover {
    border: 1px solid #097AFF;
}

.Categoria {
    width: 100%;
    font-size: 2rem;
    padding: 1rem 1.5rem;
}

.Categoria:hover, .active {
    background-color: lightgrey;
    cursor: pointer;
}

.Categoria>a {
    text-decoration: none;
    color: #000;
}

.AbajoB {
    position: absolute;
    width: 60vw;
    z-index: -1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 5rem;
    padding-right: 2.5rem;
}

.Tarjeta {
    width: 70%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    transition: all .2s;
}



.Tarjeta:last-child {
    margin-bottom: 2rem;
}

.Tarjeta:hover {
    border: 1px solid #097AFF;
    cursor: pointer;
}

.info {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

.info2 {
    flex-grow: 1;
}

.fecha {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.titulo {
    width: 100%;
    margin-bottom: 1rem;
}

.contenido {
    width: 100%;
    font-size: 1.4rem;
}

.navigation__checkbox {
    display: none;
}

.navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    bottom: 6rem;
    left: 6rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.25);
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__button:hover {
    border: 1px solid #097AFF;
}

.navigation__icon {
    height: 3.5rem;
    width: 3.5rem;
}

.navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    bottom: 6.5rem;
    left: 6.5rem;
    background-image: radial-gradient(#097AFF, #1d2b69);
    z-index: 1000;
    transition: all 0.4s;
}

.navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.4s;
}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 40%;
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem 10rem;
}

.navigation__checkbox:checked~.navigation__background {
    transform: scale(80);
}

.navigation__checkbox:checked~.navigation__nav {
    opacity: 1;
    width: 100%;
}