{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/functions.js' %}"></script>
    <title>QroChan</title>
</head>
<body>
	<div class="Barra">
		<div class="Home">
			<p>Home</p>
		</div>
		<button onclick="post()">TEST</button>
	</div>
		
	<div class="Derecha">
				
	</div>
	
	<div class="AbajoB" id="AbajoB">
		<div class="Tarjeta">
			<div class="info">
				<div class="info2">
					<p>Por: Qro-Chan</p>
				</div>
				<div class="fecha">
					<p>Para todos</p>
				</div>
			</div>
					
			<div class="titulo">
				<h1>Bienvenido a nuestra comunidad</h1>
			</div>

			<div class="contenido">
				<p>En esta comunidad podras encontrar todo lo relacionado a tu comunidad, desde eventos hasta las noticias más importantes que estan ocurriendo al momento.</p>
			</div>
		</div>	
	</div>	
</body>
</html>