{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/functions.js' %}"></script>
    <title>QroChan</title>
</head>
<body>
    <div class="Todo">
		<div class="Barra">
			<div class="Home">
				<p>Home</p>
			</div>
        </div>
        
		<div class="AbajoB">
			<div class="Tarjetas">
				<div class="Tarjeta">
					<div class="info">
						<p>info info info</p>
					</div>
					<div class="fecha">
						fecha
					</div>
					<div class="titulo">
						<p>Titulo</p>
					</div>
					<div class="contenido">
						Contenido
					</div>
				</div>
				<div class="Tarjeta">
					<div class="info">
						<p>info info info</p>
					</div>
					<div class="fecha">
						fecha
					</div>
					<div class="titulo">
						<p>Titulo</p>
					</div>
					<div class="contenido">
						Contenido
					</div>
				</div>
				<div class="Tarjeta">
					<div class="info">
						<p>info info info</p>
					</div>
					<div class="fecha">
						fecha
					</div>
					<div class="titulo">
						<p>Titulo</p>
					</div>
					<div class="contenido">
						Contenido
					</div>
				</div>
			</div>
			<div class="Derecha">				
				<p>TextoTexto Texto</p>
				<p>Texto</p>
				<p>TextoTexto Texto Texto</p>
				<p>TextoTexto TextoTexto Texto</p>
				<p>Texto</p>
				<p>TextoTexto Texto</p>
				<p>Texto</p>
				<p>Texto Texto</p>
			</div>
		</div>		
	</div>
</body>
</html>