{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/functions.js' %}"></script>
    <title>QroChan</title>
</head>
<body>
	<div class="navigation">
		<input type="checkbox" class="navigation__checkbox" id="navi-toggle">

		<label for="navi-toggle" class="navigation__button">
			<img src="{% static 'img/quill.svg' %}" class="navigation__icon">
		</label>

		<div class="navigation__background">&nbsp;</div>

		<nav class="navigation__nav">
			<div class="navigation__list">
				<form method="POST" class="">
					<h1 class="marginB20">Nueva publicación</h1>
					{% csrf_token %}
					<div class="form__group">
						{{ form.titulo }}
						<label for="titulo" class="form__label">{{ form.titulo.label_tag }}</label>
					</div>
					
					<div class="form__group">
						{{ form.descripcion }}
						<label for="descripcion" class="form__label">{{ form.descripcion.label_tag }}</label>
					</div>
	
					<div class="form__group">
						{{ form.categoria }}
						<label for="categoria" class="form__label">{{ form.categoria.label_tag }}</label>
					</div>

					<input type="submit" value="Publicar" class="sub btnAnimation">
				</form>
			</div>
		</nav>
	</div>

	<div class="Barra">
		<div class="Home">
			<img src="{% static 'img/logo.png' %}">
			<h1>QRO-CHAN</h1>
		</div>
		<div class="Barraderecha">
			<a href="{% url 'cerrarSesion' %}" class="Cerrar">Cerrar sesión</a>
		</div>
	</div>
		
	<div class="Derecha">
		<div class="Derechita">
				<div class="Categoria">
						<a href="{% url 'obtenerCategorias' %}">
						Más recientes
						</a>
					</div>
			{% for categoria in categorias %}
			<div class="Categoria">
				<a href="{% url 'obtenerPostsCategoria' pk=categoria.id %}">
				{{ categoria.titulo }}
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
	
	<div class="AbajoB" id="AbajoB">
		

	</div>
	
	
</body>
</html>