<div class="Todo">
    <h1 class="marginB20">Actualizar Información</h1>

    <div class="form__group--small">
        <input type="text" placeholder="Nombre:" name="name" class="form__input" id="nameS" oninput="key(this)">
        <label for="name" class="form__label">Nombre:</label>
    </div>

    <div class="form__group--small">
        <input type="text" placeholder="Apellido:" name="last" class="form__input" id="lastS" oninput="key(this)">
        <label for="last" class="form__label">Apellido:</label>
    </div>

    <div class="form__group--small">
        <input type="email" placeholder="Correo:" name="mail" class="form__input" id="mailS" oninput="key(this)">
        <label for="mail" class="form__label">Correo:</label>
    </div>

    <div class="form__group--small">
        <input type="password" placeholder="Contraseña:" name="pass" class="form__input" id="passS" oninput="key(this)">
        <label for="pass" class="form__label">Contraseña:</label>
    </div>

    <div class="form__group--small">
        <input type="password" placeholder="Confirmar contraseña:" name="cpass" class="form__input" id="cpassS" oninput="key(this)">
        <label for="cpass" class="form__label">Confirmar contraseña:</label>
    </div>

    <div class="form__group--small">
        <select name="address" id="address" class="form__input" id="address">
            <option value="0" selected>Colonia:</option>
        </select>
    </div>

    <button class="sub marginB20 marginT20 btnAnimation" id="buttonSignUp">Actualizar</button>
</div>